<%- include('partials/header') %>
<h1>Android Studio Team</h1>
<div class="row">
    <div class="col-md-8">
        <h3>Official IDE for Android</h3>
        <p>IntelliJ-based IDE with emulators, profilers, and layout editors.</p>
        <ul>
            <li>Live templates</li>
            <li>APK analyzer</li>
            <li>Gradle integration</li>
        </ul>
        <p>Developed by Google. Essential for your daily development workflow.</p>
    </div>
    <div class="col-md-4">
        <img src="https://developer.android.com/static/studio/images/Logo_Android_Studio.svg" alt="Android Studio" class="img-fluid">
    </div>
</div>
    </div>
</body>
</html>

