<%- include('partials/header') %>
<h1>Firebase Team</h1>
<div class="row">
    <div class="col-md-8">
        <h3>Backend for Mobile</h3>
        <p>Google's platform simplifying authentication, databases, and analytics.</p>
        <ul>
            <li>Real-time database</li>
            <li>Cloud Firestore</li>
            <li>Auth with Google/Facebook</li>
        </ul>
        <p>Used in your expense tracking apps. Handles millions of apps daily.</p>
    </div>
    <div class="col-md-4">
        <img src="https://firebase.google.com/downloads/brand-guidelines/SVG_logo_standard/Firebase_Logo_Full_Color.svg" alt="Firebase" class="img-fluid">
    </div>
</div>
    </div>
</body>
</html>

