<%- include('partials/header') %>
<h1>Jetpack Compose Creators</h1>
<div class="row">
    <div class="col-md-8">
        <h3>Declarative UI Revolution</h3>
        <p>Google's modern toolkit replacing XML layouts. Launched 2021.</p>
        <ul>
            <li>Composable functions</li>
            <li>Live previews</li>
            <li>State-driven UI</li>
        </ul>
        <p>Key contributor: Leland Richardson. Powers apps like Twitter, Pinterest.</p>
    </div>
    <div class="col-md-4">
        <img src="https://developer.android.com/static/images/jetpack/compose-logo.svg" alt="Compose" class="img-fluid">
    </div>
</div>
    </div>
</body>
</html>

