<%- include('partials/header') %>
<h1>Kotlin Team</h1>
<div class="row">
    <div class="col-md-8">
        <h3>Modern Android's Game Changer</h3>
        <p>Developed by JetBrains, Kotlin became Android's preferred language in 2017. Key features:</p>
        <ul>
            <li>Null safety prevents crashes</li>
            <li>Coroutines for async code</li>
            <li>100% Java interoperability</li>
        </ul>
        <p>Leaders: Andrey Breslav (Lead Designer). Used in 80%+ of new Android projects.</p>
    </div>
    <div class="col-md-4">
        <img src="https://kotlinlang.org/assets/kotlin-logo.svg" alt="Kotlin" class="img-fluid">
    </div>
</div>
    </div>
</body>
</html>

